{% for form in forms %}
	{% set dependency = form.ClientDependencies[0] %}
	{% set controllerName = dependency.Targets[0].Name | replace({'Controller': ''}) %}
	{% set methodName = dependency.Method.Name %}

	<form asp-controller="{{ controllerName }}" asp-action="{{ methodName }}">
		{% for attribute in form.Attributes %}
			<div class="form-group">
				{% if attribute.Type.Name == "input" %}
					<label asp-for="{{ attribute.Name }}" class="control-label"></label>
					<input asp-for="{{ attribute.Name }}" class="form-control"/>
					<span asp-validation-for="{{ attribute.Name }}" class="text-danger"></span>
				{% elseif attribute.Type.Name == "date" %}
					<label asp-for="{{ attribute.Name }}" class="control-label"></label>
					<input asp-for="{{ attribute.Name }}" type="date" class="form-control" />
					<span asp-validation-for="{{ attribute.Name }}" class="text-danger"></span>
				{% elseif attribute.Type.Name == "radio" %}
					<label asp-for="{{ attribute.Name }}" class="control-label"></label><br />
					{% for value in (attribute.Default | split(",")) %}
						<input type="radio" value="{{ loop.index }}" asp-for="{{ attribute.Name }}" />{{ value }}<br />
					{% endfor %}
					<span asp-validation-for="{{ attribute.Name }}" class="text-danger"></span>
				{% elseif attribute.Type.Name == "textarea" %}
					<label asp-for="{{ attribute.Name }}" class="control-label"></label>
					<textarea rows="5" asp-for="{{ attribute.Name }}" class="form-control"></textarea>
					<span asp-validation-for="{{ attribute.Name }}" class="text-danger"></span>
				{% elseif attribute.Type.Name == "select" %}
					<label asp-for="{{ attribute.Name }}Id" class="control-label"></label><br />
					<select class="form-control"
							asp-for="{{ attribute.Name }}Id"
							asp-items="@ViewBag.{{ attribute.Name }}Id">
						<option disabled selected value=""></option>
					</select>
					<span asp-validation-for="{{ attribute.Name }}Id" class="text-danger"></span>
				{% elseif attribute.Type.Name == "label" %}
					<label for="{{ attribute.Name }}" value="{ value of {{ attribute.Name }} }" />
				{% elseif attribute.Type.Name == "link_back" %}
					<a class="btn btn-outline-primary" href="javascript:history.back()">{{ attribute.Name }}</a>
				{% elseif attribute.Type.Name == "button" %}
					<input type="button" value="{{ attribute.Name }}" class="btn btn-default"/>
				{% elseif attribute.Type.Name == "submit" %}
					<input type="submit" class="btn btn-primary"/>
				{% endif %}
			</div>
		{% endfor %}
	</form>
{% endfor %}